.modal-content.MuiDialogContent-root {
  background-color: #f8f8f8;
}
.contents.MuiBox-root {
  margin: 0;
  position: relative;
}

.section-row.MuiBox-root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 10px;
  &:hover {
    background-color: #ffffff;
    cursor: pointer;
  }
}

.section-name.MuiTypography-root {
  font-weight: bold;
}

.group-name.MuiTypography-root {
  margin-left: 10px;
  text-transform: uppercase;
}

.group-name,
.section-description {
  color: grey;
}

.main-icon-container.MuiBox-root,
.command-icon-container.MuiBox-root {
  border: 1px solid black;
  border-radius: 5px;
}
.main-icon-container {
  color: white;
}
.command-icon-container {
  color: black;
}

.section-button-shortcut.MuiButton-root {
  margin-left: auto;
  border-radius: 10px;
}
.command-label.MuiChip-root {
  color: black;
  font-weight: bold;
}
