.header.MuiBox-root {
  background-color: #f8f8f8;
}

.contents-search {
  margin: 2px;
}

.textfield-search {
  .MuiInputBase-root {
    background-color: #e8e8e8;
    border-radius: 15px;
  }
}

.search-bar-button.MuiButton-root {
  text-transform: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  margin: 20px 10px;
}

.navigation-button.MuiButton-root,
.navigation-tab-button.MuiButton-root {
  border: 1px solid lightgray;
  border-radius: 25px;
  text-transform: none;
  color: black;
  font-weight: bold;
}

.navigation-tab-button.MuiButton-root {
  margin-left: auto;
}
