#contents {
  margin: 0;
  position: relative;
}

.contents-search {
  margin: 2px;
}

.textfield-search {
  .MuiInputBase-root {
    background-color: #e8e8e8;
    border-radius: 15px;
  }
}

#button-command-e {
  text-transform: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
}

.section-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 10px;
  &:hover {
    background-color: #ffffff;
    cursor: pointer;
  }
}

.section-name {
  font-weight: bold !important;
}

#group-name {
  margin-left: 10px;
  text-transform: uppercase;
}

#group-name,
.section-description {
  color: grey;
}

.section-icon-container {
  border: 1px solid black;
  color: white;
  border-radius: 5px;
}

#section-button-shortcut {
  margin-left: auto;
  border-radius: 10px;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  margin: 20px 10px;
}

.navigation-button.MuiButton-root,
.navigation-tab-button.MuiButton-root {
  border: 1px solid lightgray;
  border-radius: 25px;
  text-transform: none;
  color: black;
  font-weight: bold;
}

.navigation-tab-button.MuiButton-root {
  margin-left: auto;
}
